* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    font-size: 15px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    opacity: 0.6;
}

ul {
    list-style: none;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

/* hero-section */
.hero-section {
    background-color: #EAEAEA;
    width: 100%;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    height: 10vh;
}

.nav-list {
    display: flex;
}

.nav-list li a {
    margin-left: 20px;
}

.logo img {
    margin-top: 20px;
}

.hero-main {
    background-image: url(./images/hero\ image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-main h2{
    text-align: center;
    color: #fff;
}

.hero-main p{
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

/* about-section */
.about {
    background: #2C5E39;
    color: #E8DE38;
    width: 100%;
}

.about-content {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 30px 0px 30px;
}

.about-content p {
    font-size: 18px;
    padding: 20px 0;
}
/* honours-section */
.honours {
    background-color: #EAEAEA;
    background-image: url(./images/bg-logo\ image.png);
    width: 100%;
}

.honours-content {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 30px;
}

.honours-content .heading {
    color: #2C5E39;
    text-align: center;
    padding: 50px 0px 30px;
}

.title {
    color: #6D6A6A;
    text-decoration: underline;
}

.honour .title ul {
    list-style: square;
}

.honour {
    padding: 20px 0px;
}

.honour p {
    padding: 10px 0px;
}


/* team-section */
.team {
    background-color: #EAEAEA;
    background-image: url(./images/bg-logo\ image.png);
    width: 100%;
}

.team-content {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 30px;
}

.team-heading {
    text-align: center;
    color: #2C5E39;
    padding: 50px 0px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.member {
    display: flex;
    padding: 10px 0px;
}

.role {
    text-decoration: underline;
    padding-right: 20px;
}

/* contact-section */
.contact {
    color: #F0F0F0;
    background-color: #30302F;
    width: 100%;
}

.contact-content {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.contact-content a {
    color: #F0F0F0;
}

.heading {
    text-decoration: underline;
    text-align: center;
    padding: 50px 0px 20px;
}

.social {
    display: flex;
    justify-content: space-around;
}


.contact-details {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 20px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding:30px 0px 30px;
}

/* responsiveness */
@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .nav ul.nav-list {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .nav ul.nav-list li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .nav ul.nav-list li:last-child {
        border-bottom: none;
    }

    .nav ul.nav-list.show {
        transform: translateX(-20px);
    }

    .contact-details {
    flex-direction: column;
    }

    .contact-details div {
        padding: 20px 0px;
    }
}
